.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border:solid 1px #333;
    margin-bottom: 20px;
    .close{
        cursor: pointer;
    }
}